services:
  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - app-net

  app-db:
    image: postgres:15
    container_name: app-db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: app_password
    volumes:
      - app_db_data:/var/lib/postgresql/data
    networks:
      - app-net
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis_data:/data
    networks:
      - app-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    container_name: keycloak
    depends_on:
      - keycloak-db
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: "false"
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak_password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_CACHE: local
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
      KC_FEATURES: token-exchange
    command: ["start-dev"]
    ports:
      - "8080:8080"
    networks:
      - app-net

volumes:
  keycloak_db_data:
  app_db_data:
  redis_data:

networks:
  app-net:
    driver: bridge
